body{
	padding-top: 51px;
	background-color: #003299;
  	background: radial-gradient(circle,#85adff,#003299);
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}
ul{
	list-style: none;
}
a{
	color: #333;
}
a:hover{
	cursor: pointer;
}
ul.simple-post-list .post-image {
	float: left;
	margin-right: 12px;
}
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.callout-box{
	background-color: #546489;
	color: #fff;
	padding: 10px 20px;
}
.body-title{
	border: 1px solid #e3e3e3;
	border-left: 5px solid #234383;
	padding: 0 20px 20px;
}
.featured-box{
	border: 1px solid #e3e3e3;
	border-top: 5px solid #234383;
	padding: 0 20px 20px;
}
.breadcrumbs {
	font-family: 'Cantarell', sans-serif;
	position: relative;
	border-bottom: 1px solid #E5E5E5;
	background-color: #F5F5F5;
	font-size: 18px;
}

.breadcrumbs a {
	color: #2a6496;
}

.breadcrumbs a:hover {
	color: orange;
}

.breadcrumb {
	width: 40%;
	margin-bottom: 0;
}

.navbar-header li {
	margin: 0 10px;
}

.site-nav {
	float: left;
	width: 40%;
}

.site-nav li {
	float: left;
}

.navbar-header {
	float: left;
  	padding: 8px 15px;
  	margin: 0;
  /* font-size: 18px; */
}

/*.breadcrumb a {
  margin: 0px -15px 0 15px;
}*/

.cart-btn{
	border-radius:0;
}

.navbar {
	font-family: 'Cantarell', sans-serif;
	border-radius: 0;
	/*background: #438EB9;
	color: #fff;
	border: 0;*/
}

/* Removed width:auto from navbar-collapse classs; */
.navbar-collapse {
	border-top: 0;
	box-shadow: none;
}
.navbar .navbar-brand {
	/*color: #fff;*/
	color: #010166;
	/*font-size: 24px;*/
	/*text-shadow: none;*/
	/*padding-bottom: 10px;*/
}

.page-content {
	background: #fff;
  	margin: 15px auto;
  	padding: 15px;
}

i.form-i {
	width: 2%;
}

.form-group-addon{
	padding-left: -20px;
}

span.seperator {
  	margin: 0 10px;
}

.btn-primary {
	color: #fff;
  	background-color: #F48120;
  	border-color: #d6680b;
}

.btn-primary:hover {
	color: #fff;
  	background-color: #ef4323;
  	border-color: #d02d0f; 
}

#fb-not {
	color: #fff;
  	background-color: #428bca;
  	border-color: #357ebd; 
}

#fb-con {
	background-color: green;
  	border-color: green;
}

#footer {
	background: #2f2f2f;
	height: 200px;
	width: 100%;
	padding: 10px;
	margin: 5% auto 0;
}