 <div class="container">
    <div class="row">
        <div class="navbar-header col-md-8">
            <button type="button" class="navbar-toggle" toggle="collapse" target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" title="Hatt Club" ng-href="#/dashboard"><img src="https://s3-us-west-2.amazonaws.com/hattimages/home/hattclub-nav-logo.png" width="150" /></a>
        </div>
        <!--<div class="navbar-header col-md-2" ng-show="userObj">
            <a class="navbar-brand" ng-show="authenticated" rel="home" title="" ng-href="#/user/{{uid}}">Profile</a>
        </div>
        <div class="navbar-header col-md-2">
            <a class="navbar-brand" rel="home" title="" ng-href=""></a>
        </div>-->
    </div>
    <!-- <div class="row nav-row">
        <ul class="navbar-header col-md-4">
            <li ng-show="userObj.uid"><a class="navbar-brand" rel="home" title="Profile" ng-href="#/user/{{ userObj.uid }}">Profile</a></li>
            <li></li>
        </ul>
    </div> -->
</div>