<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="profile-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Hello {{ userObj.name }} 
                        </h4>
                        <p>Tell us a little more about you.</p>
                        <br/>
                        <form name="userForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="currentUser.User_Name" focus />
                                        <span ng-show="userForm.email.$error.email" class="help-inline">Email is not valid</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Name" name="name" ng-model="currentUser.name" />
                                    </span>
                                </div>
                            </div>
                            <div class="hr-divide"></div>
                            <p>Location:</p>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">City</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="City" ng-model="currentUser.City" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">State</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="State" ng-model="currentUser.State" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Zip</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Zip" ng-model="currentUser.Zip" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Facebook</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <div id="fb-root"></div>
                                    	<input type="hidden" ng-model="currentUser.FB_Conn" />
                                    	<input type="hidden" ng-model="currentUser.FB_Id" />
                                        <button ng-if="currentUser.FB_Conn==0" id="fb-not" class="width-35 pull-right btn btn-sm btn-primary" ng-click="fbConnect()" max-rows="1" size="small">
                                        	<i class="fa fa-facebook-official"></i>
                                      		Connect to Facebook
                                    	</button>
                                    	<button ng-if="currentUser.FB_Conn==1" id="fb-con" class="width-35 pull-right btn btn-sm btn-primary" disabled="disabled">
                                    		<i class="fa fa-check"></i>
                                      		Facebook Connected
                                    	</button>
                                    </span>
                                </div>
                            </div>
                            <!-- Meetup! -->
                            <!-- Password Change -->
                            <div class="form-group">
                                <span class="lbl col-sm-5"></span>
                                <div class="col-sm-7">
                                   <!--  <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="saveUser(user)" data-ng-disabled="userForm.$invalid"> -->
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="saveUser(currentUser)" >
                                        Save 
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->